NEXT_PUBLIC_APP_URL=http://localhost:3000/
NEXT_PUBLIC_API_URL=http://localhost:3900/api/v1  # For browser/client-side
API_URL_INTERNAL=http://multi_tenant_server_dev:3900/api/v1    # For server-side in Docker
NEXTAUTH_SECRET="emommerce-langing"
NEXTAUTH_URL=http://localhost:3000

## local development
# NEXT_PUBLIC_APP_URL=http://localhost:3000/
# NEXT_PUBLIC_API_URL=http://localhost:3900/api/v1
# NEXTAUTH_SECRET="emommerce-langing"
# NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BM9QC_jAgeQFcEo22n17uFmlXjg72xHoh7ZsXboMoMZfUb58OKcHXZE-CnWRhexgPmqIfpxV6-IHm2OqQBzTzEw
NEXT_PUBLIC_WS_URL=http://localhost:3900