MONGODB_URI =mongodb://localhost:27017/ecommerce_multi_tenant_saas
NEXT_PUBLIC_APP_URL=http://localhost:3000/
NEXTAUTH_SECRET="emommerce-langing"
NEXTAUTH_URL=http://localhost:3000
# ## SSLCommerzPayment
STORE_ID = ""
STORE_PASSWORD = ""
IS_LIVE = false; ## true for live, false for sandbox
