NODE_ENV=development

# API
API_PORT=3900
# File properties
UPLOAD_PATH=public/uploads
# Max 5Mb allowed
MAX_FILE_SIZE=5
MAX_FILE_COUNTS=20

JWT_SECRET_KEY=myUnsecureJwtSecret
JWT_ACCESS_TOKEN_EXPIRES=900 #15 minutes
JWT_REFRESH_TOKEN_EXPIRES=7d


# Database environment variables
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1995
DB_DATABASE=

# Redis envioroment variables
# REDIS_HOSTNAME=erp-redis
# REDIS_PORT=6379
# TTL=20
# MAX=100

# SMTP Configuration
# SMTP_HOST='smtp.gmail.com'
# SMTP_PORT=465
# SMTP_USER=gowtampaul0@gmail.com
# SMTP_SECURE=false
# #this is mail app password
# SMTP_PASS=wppo wvwp tqac fmnf
# # MAIL_FROM_NAME="gowtampaul0@gmail.com"
# SMTP_FROM=gowtampaul0@gmail.com



# App Base URL (for verification links)
APP_URL=http://localhost:3000

## Pathao credentials
PATHAO_SENDBOX_BASE_URL=https://courier-api-sandbox.pathao.com
PATHAO_BASE_URL=https://api-hermes.pathao.com
# PATHAO_CLIENT_ID=8mepzZrbMy
# PATHAO_CLIENT_SECRET=qv9myVaidVorg7wqY2eJ5eFythrnFH438M7SB2Ss
# PATHAO_USERNAME=gowtampaul0@gmail.com
# PATHAO_PASSWORD=Gowtampaul@1995

## Steadfast credentials
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
# STEADFAST_API_KEY=your_api_key_here
# STEADFAST_SECRET_KEY=your_secret_key_here